--- drivers/regulator/Kconfig
+++ drivers/regulator/Kconfig
@@ -629,5 +629,10 @@ config SOMC_LCD_OCP_ENABLED
 	bool "enable SoMC LCD OCP function"
 	help
 	  Select this to enable SoMC LCD Over current protection function.
+
+config MSM8994_CPU_VOLTAGE_CONTROL
+	bool "Enable CPU voltage control for MSM8994"
+	depends on ARCH_MSM8994
+
 endif
 
