--- drivers/input/Kconfig
+++ drivers/input/Kconfig
@@ -175,15 +175,12 @@ config INPUT_APMPOWER
 	  module will be called apm-power.
 
 config INPUT_KEYRESET
-	tristate "Reset key"
+	bool "Reset key"
 	depends on INPUT
 	select INPUT_KEYCOMBO
 	---help---
 	  Say Y here if you want to reboot when some keys are pressed;
 
-	  To compile this driver as a module, choose M here: the
-	  module will be called keyreset.
-
 config INPUT_KEYCOMBO
 	tristate "Key combo"
 	depends on INPUT
